In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
from pandas import DataFrame, Series

In [3]:
df = pd.read_csv('playerstats.csv')

In [4]:
df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [5]:
df.shape

(795, 29)

In [6]:
df['Player']

0       Precious Achiuwa
1           Steven Adams
2            Bam Adebayo
3           Santi Aldama
4      LaMarcus Aldridge
             ...
790       Thaddeus Young
791           Trae Young
792       Omer Yurtseven
793          Cody Zeller
794          Ivica Zubac
Name: Player, Length: 795, dtype: object

In [12]:
df.describe()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,...,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000
mean,26.042767,36.523270,16.567296,18.200377,2.865912,6.372956,0.426346,0.866164,2.547296,0.275327,...,0.654605,0.816101,2.516981,3.332201,1.794340,0.581258,0.355220,0.975094,1.560252,7.794969
std,4.073096,25.929286,23.756721,9.669324,2.230594,4.670224,0.149750,0.844586,2.214852,0.158866,...,0.285168,0.744378,1.791324,2.351112,1.827968,0.426914,0.363522,0.817062,0.829649,6.153566
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,12.000000,0.000000,10.450000,1.200000,3.000000,0.381500,0.100000,0.800000,0.222000,...,0.595000,0.300000,1.300000,1.700000,0.500000,0.300000,0.100000,0.400000,1.000000,3.200000
50%,25.000000,36.000000,4.000000,17.500000,2.400000,5.100000,0.440000,0.700000,2.000000,0.320000,...,0.750000,0.600000,2.300000,2.900000,1.200000,0.500000,0.300000,0.800000,1.600000,6.300000
75%,29.000000,61.000000,24.500000,25.650000,3.900000,8.700000,0.500000,1.350000,3.900000,0.371500,...,0.837000,1.100000,3.400000,4.400000,2.400000,0.900000,0.500000,1.300000,2.200000,10.600000
max,41.000000,82.000000,82.000000,43.500000,11.400000,21.800000,1.000000,4.500000,11.700000,1.000000,...,1.000000,4.600000,11.000000,14.700000,10.800000,2.500000,2.800000,4.800000,5.000000,30.600000